.heading1-class{
    color: #2f215f;
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 30px;
  margin-top: 20px;
  /* margin-left: 20px; */
}
.class-def{
     color: #6B7280;
    line-height: 2;
}
.heading2-class{
    color: #215d5f;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 30px;
  margin-top: 50px;
}
.class-list-1{
    list-style: none;
    list-style-type: circle;
    line-height: 2;
     color: #6B7280;
     
}
.class-list-1 b{
    color: #215f53;
    /* text-align: left; */
}
.heading3-class{
    margin-top: 50px;
   color: #2f215f;
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 20px;
}